product-web-app/target/product-web-app.war
product-web-app/target/classes/com/pm06/product_web_app/controllers/CreateProductServletController.class
product-web-app/target/classes/com/pm06/product_web_app/controllers/EditProductServletController.class
product-web-app/target/classes/com/pm06/product_web_app/controllers/HomeServletController.class
product-web-app/target/classes/com/pm06/product_web_app/controllers/ProductListServletController.class
product-web-app/target/classes/com/pm06/product_web_app/models/DBCrud.class
product-web-app/target/classes/com/pm06/product_web_app/models/MySQLConnector.class
product-web-app/target/classes/com/pm06/product_web_app/models/Product.class
product-web-app/target/maven-archiver/pom.properties
product-web-app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
product-web-app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
product-web-app/target/product-web-app/index.jsp
product-web-app/target/product-web-app/WEB-INF/web.xml
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/controllers/CreateProductServletController.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/controllers/EditProductServletController.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/controllers/HomeServletController.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/controllers/ProductListServletController.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/models/DBCrud.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/models/MySQLConnector.class
product-web-app/target/product-web-app/WEB-INF/classes/com/pm06/product_web_app/models/Product.class
product-web-app/target/product-web-app/WEB-INF/lib/jakarta.el-api-5.0.0.jar
product-web-app/target/product-web-app/WEB-INF/lib/jakarta.servlet.jsp.jstl-3.0.0.jar
product-web-app/target/product-web-app/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-3.0.0.jar
product-web-app/target/product-web-app/WEB-INF/lib/mysql-connector-j-8.0.33.jar
product-web-app/target/product-web-app/WEB-INF/lib/protobuf-java-3.21.9.jar
product-web-app/target/product-web-app/WEB-INF/views/CreateProductView.jsp
product-web-app/target/product-web-app/WEB-INF/views/EditProductView.jsp
product-web-app/target/product-web-app/WEB-INF/views/footer.jsp
product-web-app/target/product-web-app/WEB-INF/views/header.jsp
product-web-app/target/product-web-app/WEB-INF/views/HomeView.jsp
product-web-app/target/product-web-app/WEB-INF/views/menu.jsp
product-web-app/target/product-web-app/WEB-INF/views/ProductListView.jsp
